<ion-view view-title="Browse">
  <ion-content>
    <h4>Set Values for  Chart</h4>
        <form ng-submit="redrawChart()">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Monthly Budget</span>
              <input type="number" ng-model="chartData.budgetValue" >
            </label>
            <label class="item item-input">
              <span class="input-label">Typical Expense</span>
              <input type="number" ng-model="chartData.typicalValue" >
            </label>
            <label class="item item-input">
              <span class="input-label">Actual Expense</span>
              <input type="number" ng-model="chartData.actualValue" >
            </label>        
            <label class="item">
              <button class="button button-block button-positive" type="submit">Draw Chart</button>
            </label>
          </div>
        </form>
  </ion-content>
</ion-view>
